﻿<div class="container">
    <h2>Madrasatie API</h2>
    <div class="row">
        <div class="col-md-4">
            <div>
                <img src="http://iquadme.com/wp-content/uploads/2015/04/image001.png" height="70" />
            </div>
        </div>
        <div class="col-md-8">
            <p>An interface to the Madrasatie management system offered by iQuad Learning Solutions</p>
        </div>
    </div>
    <hr />
    <h2>Developer</h2>
    <div class="row">
        <div class="col-md-4">
            <div>
                <img src="http://wbintl.co/wp-content/uploads/2016/07/LogoSlogan.png" height="70" />
            </div>
        </div>
        <div class="col-md-8">
            <p>Developed by WhiteBeard International a Wholistic Solution Provider</p>
        </div>
    </div>
    <hr />
    <h2>Consumer</h2>
    <div class="row">
        <div class="col-md-4">
            <div>
                <img src="https://2434zd29misd3e4a4f1e73ki-wpengine.netdna-ssl.com/wp-content/uploads/2016/10/cropped-Swagger-Logo.png" width="200" />
            </div>
        </div>
        <div class="col-md-8">
            <p>A Swagger interface is provided. Use <a href="https://github.com/swagger-api/swagger-codegen">https://github.com/swagger-api/swagger-codegen</a></p>
        </div>
    </div>
</div>